@font-face {
    font-family: 'Circular Std Black';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Black.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'Circular Std Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CircularStd-Medium.woff') format('woff');
}

body {
    font-family: 'Circular Std Medium';
    color: #090C08;
    line-height: 2.5;
}

h1 {
    color: #FF5C5C;
    font-family: 'Circular Std Black';
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

a,
a:hover {
    color: #090C08;
}

p {
    line-height: 2.5;
    text-align: justify;
}

p a,
p a:hover {
    color: #FEA634;
}

li {
    /* font-size: 1.5em; */
}

img {
    padding-bottom: 2em;
    width: 100%;
}

video {
    padding-bottom: 2em;
    width: 100%;
}

.navbar {
    padding: 2.5em;
    position: relative;
    width: 100%;
    z-index: 1;
}

.dropdown-item:active {
    background-color: #FF5C5C;
}

.div-main {
    height: 100%;
    padding: 6em;
    width: 100vw;
}

.div-centered {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content-h2 {
    padding-top: 1.5em;
}

.content-h3 {
    padding-top: 1.5em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 0.75em;
    }

    p {
        text-align: left;
    }

    .navbar {
        position: relative;
    }

    .div-main {
        height: 100%;
        padding: 3em;
        width: 100vw;
    }
}
